/* Do later */
body
{
    font-family: Arial, Helvetica, sans-serif
}

fieldset 
{
    border-style: none;
}

button
{
    margin: 0 10px;
    padding: 5px;
    border-radius: 10px;
    background: lightgray;
    border: 1px black solid;
}

li
{
    display: flex;
    flex-direction: row;
    margin: 10px 0;
}

#itinerary-container div
{
    margin: 10px;
}